body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}
.table-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: wheat;
  align-items: center;
}

.table-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

h4 {
  width: 20%;
}